.wrapper {
    width: 100%;
    .inner {
        display: flex;
        .panel {
            width: 100%;
            max-width: 285px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .block {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 250px;
                background: #fafafa;
                border-radius: 10px;
                padding: 15px;
                padding-top: 12px;
                margin-bottom: 15px;
            }
            .header {
                align-self: start;
                font-family: Roboto;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: #444444;
                margin-bottom: 20px;
            }
            .list {
                padding: 10px;
                padding-left: 25px;
                width: 220px;
                background: #ffffff;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #444444;
            }
            .progress {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 120px;
                height: 120px;
                border-radius: 50%;
                border: 8px solid #d90000;
            }
            .progressText {
                font-family: Roboto;
                font-size: 36px;
                line-height: 42px;
                color: #444444;
            }
            .commentHeader {
                font-family: Roboto;
                font-size: 14px;
                font-weight: normal;
                line-height: 16px;
                color: #000000;
                margin-bottom: 8px;
            }
            .commentText {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 220px;
                min-height: 29px;
                background: #ffffff;
                font-family: Roboto;
                font-size: 12px;
                line-height: 14px;
                color: #000000;
            }
            .stars {
                list-style: none;
                display: flex;
                margin-top: -37px;
            }
            .star {
                width: 15px;
                height: 15px;
                margin-right: 6px;
                margin-bottom: 21px;
                background-image: url('../images/star.png');
                background-repeat: no-repeat;
            }
            .addFile {
                width: 200px;
                height: 30px;
                background: #ffffff;
                border: 1px solid rgba(217, 0, 0, 0.2);
                border-radius: 5px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: rgba(217, 0, 0, 0.5);
                margin-bottom: 17px;
            }
            .submit {
                width: 100px;
                height: 26px;
                background: #d90000;
                border: none;
                border-radius: 5px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: #ffffff;
            }
        }
        .wrapperMap {
            width: 100%;
        }
    }
}